<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Create</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script
      src="https://use.fontawesome.com/releases/v6.1.0/js/all.js"
      crossorigin="anonymous"
    ></script>
    <!-- Google fonts-->
    <link
      href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
      rel="stylesheet"
      type="text/css"
    />
    <link
    rel="stylesheet"
    href="https://bootswatch.com/4/journal/bootstrap.min.css"
  />
  </head>
  <body>
    <!-- Navigation-->
    <%- include('partials/nav.ejs') %>
    <!-- Main Content-->
    <div class="container my-3">
      <form
        method="POST"
        action="/<%=role%>/create" enctype="multipart/form-data"
      >
      <fieldset>
        <legend>Create new article</legend>
      <div class="form-floating">
        <label for="title">Title</label>
        <input
          class="form-control"
          name="title"
          id="title"
          type="text"
          placeholder="Enter a title"
          data-sb-validations="required"
          required
        />
        
        <div
          class="invalid-feedback"
          data-sb-feedback="title:required"
        >
          A title is required.
        </div>
      <div class="form-floating">
        <label for="content">Content</label>
        <textarea
          class="form-control"
          id="content"
          name="content"
          placeholder="Enter your content..."
          style="height: 12rem"
          data-sb-validations="required"
          required
        ></textarea>
       
        <div
          class="invalid-feedback"
          data-sb-feedback="content:required"
        >
          A content is required.
        </div>
      </div>
      <div class="form-floating">
        <label for="image">Image</label>
        <input
          class="form-control"
          name="image"
          id="image"
          type="file"
          placeholder="Attach your image"
        />
        
      </div>
      <br />
      <button
        class="btn btn-primary text-uppercase"
        id="submitButton"
        type="submit"
      >
        Send
      </button>
      <a
        class="btn btn-secondary text-uppercase"
        id="submitButton"
        href="/admin"
      >
        Back
      </a>
    </fieldset>
      </form>
    </div>
    <!-- Footer-->
    <%- include('partials/footer.ejs') %>
  </body>
</html>
